{% extends "base.html" %}

{% block title %}Feedback{% endblock %}

{% block content %}
<h1 class="display-1">Feedback</h1>
<p class="lead">We value your feedback. Please share your thoughts below.</p>

<form method="POST">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field(class_='form-control') }}
        {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </p>
    {% endfor %}

    <button class="btn btn-primary" type="submit">Submit Feedback</button>

</form>

<div class="contatiner">
    {% for feedback in feedbacks %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ feedback.title }}</h5>
            <p class="card-text">{{ feedback.content }}</p>
            <p class="card-text"><small class="text-muted">Submitted by {{ feedback.user.username }}</small></p>
        
             <div class="d-flex gap-2">
                 {% if session['user_id'] == feedback.user_id %}
                 <form action="/feedback/{{feedback.id}}/edit">
                    <input type="hidden" name="post_id" value="{{ feedback.id }}">
                    <button class="btn btn-secondary" type="submit">Edit</button>
                </form>
                {% endif %}
                 
                {% if session['user_id'] == feedback.user_id %}
                <form action="/feedback/{{feedback.id}}/delete" method="POST">
                    <input type="hidden" name="post_id" value="{{ feedback.id }}">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
                {% endif %}
             </div>

           
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}
